.big_frame {
  position: absolute;
  background-color: #a2a8b2;
}

.comp {
  cursor: pointer;
}

#start {
  visibility: hidden;
}

.hidden {
  visibility: hidden;
  position: absolute;
  background-color: #add8e6;
  width: 120px;
}
